@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

.botones {
  background-color: whitesmoke;
  color: #cfb5b2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  width: 100px;
  margin: 5px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  transition: background-color 2s color 3s;
}

.botones:hover {
  background-color: #b2cccf;
  color: whitesmoke;
}

/*.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: auto;
    background-color: #ffe4e1;
    width: 60%;
    height: 60px;
    box-sizing: content-box;
}*/
.logo {
  width: 80px;
  height: 80px;
}

.nav__listadenavegacion {
  display: flex;
  list-style: none;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}

.nav__item {
  margin-left: 16px;
  font-size: 16px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  height: 100px;
  color: black;
}

.redes__lista {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
}

.redes__iconos {
  height: 25px;
  width: 25px;
}

/*Pagina 1: Home -----------------------------------------------------------------------------------------------------------------------------------*/
.productosdestacados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productosdestacados__textos {
  width: 100%;
  padding: 30px 150px;
  background-color: #cfb5b2;
  text-align: center;
  color: white;
}

.colecciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colecciones__elementos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-bottom: 30px;
  background-color: #cfb5b2;
}

.colecciones__link1 {
  display: inline-block;
  width: 640px;
  height: 462px;
  margin: 40px;
  background-image: url(./imagenes/2colecvintage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
  overflow: hidden;
  transition: background-image 3s;
}

.colecciones__link1:hover {
  background-image: url(./imagenes/2colecvintagehover2.jpg);
}

.colecciones__link2 {
  display: inline-block;
  width: 640px;
  height: 462px;
  margin: 40px;
  background-image: url(./imagenes/1caramelera.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
  overflow: hidden;
  transition: background-image 3s;
}

.colecciones__link2:hover {
  background-image: url(./imagenes/1caramelerahover2.jpg);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  background-image: url(./imagenes/imagendefondo2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.info__titulo {
  font-size: 28px;
  font-style: italic;
}

.info__tarjetas {
  display: flex;
  flex-direction: row;
}

.info__propiedades h6 {
  font-size: 22px;
  font-style: italic;
  margin-bottom: 5px;
}

.info__propiedades {
  background-color: #cfb5b2;
  width: 400px;
  height: 200px;
  margin: 20px;
  padding: 20px 24px;
  text-align: center;
  font-size: 16px;
  transition: background-color 2s, color 3s;
}

.info__propiedades:hover {
  background-color: whitesmoke;
  color: #cfb5b2;
}

.videohome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #cfb5b2;
}

.iframeyt {
  width: 800px;
  height: 420px;
}

.suscripcion {
  background-image: url(./imagenes/newsletterfondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.suscripcion__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
}

.suscripcion__form label {
  color: whitesmoke;
}

.suscripcion__form button {
  background-color: whitesmoke;
  color: #cfb5b2;
  border: whitesmoke;
}

.suscripcion__textos {
  font-style: italic;
  font-size: 22px;
  text-align: center;
  color: white;
}

.suscripcion__textos h3 {
  font-size: 30px;
}

/*Pagina 2: Productos -----------------------------------------------------------------------------------------------------------------------------------*/
.carruselprod {
  width: 100%;
}

.productos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productos__tarjetas {
  width: 100%;
  margin-top: 15px;
  background-color: #cfb5b2;
  color: white;
  display: flex;
  flex-direction: row;
}

.productos__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  text-align: center;
}

.productos__imagenes {
  width: 35%;
}

/*Pagina 3: Tienda -----------------------------------------------------------------------------------------------------------------------------------*/
.tienda {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.tienda_productos {
  border-radius: 1rem;
  background-color: whitesmoke;
  color: #cfb5b2;
  border: 3px solid #cfb5b2;
  text-align: center;
  font-size: 18px;
  font-style: italic;
  margin: 15px;
  padding: 20px;
  transition: background-color 2s, color 2s;
}

.tienda_productos:hover {
  background-color: #cfb5b2;
  color: white;
}

/*Pagina 4: Nosotros -----------------------------------------------------------------------------------------------------------------------------------*/
.empresa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empresa__card {
  width: 100%;
  height: auto;
  margin-top: 15px;
  padding: 20px;
  text-align: center;
  font-style: italic;
  background-color: #cfb5b2;
}

.empresa__titulo {
  font-size: 32px;
}

.empresa__texto {
  padding-left: 100px;
  padding-right: 100px;
  font-size: 20px;
  text-align: center;
}

.galeria {
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(3, 200px);
  grid-template-areas: "img1 img1 img2"  "img3 img4 img4"  "img5 img5 img6";
  gap: 10px;
  justify-content: center;
  align-content: center;
}

.galeria__imagenes {
  border-radius: 10px;
  overflow: hidden;
}

.galeria__imagenes--img1 {
  grid-area: img1;
}

.galeria__imagenes--img2 {
  grid-area: img2;
}

.galeria__imagenes--img3 {
  grid-area: img3;
}

.galeria__imagenes--img4 {
  grid-area: img4;
}

.galeria__imagenes--img5 {
  grid-area: img5;
}

.galeria__imagenes--img6 {
  grid-area: img6;
}

.galeria__fotos {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mayorista {
  background-color: #cfb5b2;
}

.mayorista h2 {
  text-align: center;
  font-size: 32px;
}

.mayorista p {
  text-align: center;
  font-size: 20px;
}

.mayorista__formulario {
  color: black;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mayorista__formulario-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mayorista__formulario-1 input {
  width: 600px;
}

.comentario {
  height: 200px;
  width: 600px;
  margin-top: 20px;
  border-radius: 5px;
}

/*Pagina 5: Faq -----------------------------------------------------------------------------------------------------------------------------------*/
.carruselfaq_imagenes {
  width: 100%;
}

.preguntas {
  background-color: #cfb5b2;
  height: auto;
}

.accordion {
  margin-top: 30px;
  margin-bottom: 30px;
}

.accordion-item {
  color: black;
}

/*Pagina 6: tienda producto -----------------------------------------------------------------------------------------------------------------------------------*/
/*.cardcompra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comprar{
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $colorPrincipal;
    text-align: center; 
}

.fotoprod{
    width: 350px;
    height: 350px;
}

.fragancia{
    width: 100%;
    padding: 20px;
    background-color: $colorPrincipal;
    text-align: center;
}*/
.comprar {
  display: flex;
  flex-direction: row;
  background-color: #cfb5b2;
  padding: 40px;
}

.fotoproductos {
  width: 60%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  grid-template-areas: "img2 img1 img1 img1"  "img3 img1 img1 img1"  "img4 img1 img1 img1";
  gap: 10px;
  justify-content: flex-end;
  align-content: center;
}

.fotoproductos__imagenes {
  border-radius: 10px;
  overflow: hidden;
}

.fotoproductos__imagenes--img1 {
  grid-area: img1;
}

.fotoproductos__imagenes--img2 {
  grid-area: img2;
}

.fotoproductos__imagenes--img3 {
  grid-area: img3;
}

.fotoproductos__imagenes--img4 {
  grid-area: img4;
}

.fotoproductos__fotos {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.informacionproducto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
  padding-left: 50px;
  gap: 8px;
}

.informacionproducto h1 {
  font-size: 34px;
  font-style: italic;
}

.informacionproducto p {
  font-size: 16px;
}

.tarjetasbancos {
  width: auto;
  height: 35px;
}

.realizarcompra {
  margin-top: 80px;
}

.botoncompra {
  background-color: whitesmoke;
  color: #cfb5b2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  width: 200px;
  margin: 5px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  transition: background-color 2s color 3s;
}

.botoncompra:hover {
  background-color: #b2cccf;
  color: whitesmoke;
}

/*Vista Mobile*/
@media screen and (max-width: 599px) {
  .header {
    width: 100%;
    padding: 0;
    height: auto;
  }
  .logo {
    width: 60px;
    height: 60px;
  }
  .productosdestacados {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .productosdestacados__textos {
    width: 100%;
    padding: 15px;
    background-color: #cfb5b2;
    text-align: center;
    color: white;
  }
  .productosdestacados__textos h2 {
    font-size: 18px;
  }
  .productosdestacados__textos p {
    font-size: 14px;
  }
  .colecciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .colecciones__elementos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;
    background-color: #cfb5b2;
  }
  .colecciones__link1 {
    display: inline-block;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    margin: 0;
  }
  .colecciones__link2 {
    display: inline-block;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    margin: 0;
  }
  .info {
    width: 100%;
    height: auto;
  }
  .info__titulo {
    font-size: 16px;
    font-style: italic;
    text-align: center;
    padding: 8px;
  }
  .info__tarjetas {
    display: flex;
    flex-direction: column;
  }
  h6 {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 5px;
  }
  .info__propiedades {
    background-color: #cfb5b2;
    width: auto;
    height: auto;
    margin: 20px;
    padding: 20px 24px;
    text-align: center;
    font-size: 12px;
  }
  .iframeyt {
    width: 80%;
    height: auto;
  }
  .suscripcion__textos {
    font-size: 16px;
  }
  .suscripcion__textos h3 {
    font-size: 24px;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
    height: 100px;
    text-align: center;
  }
  /* Pagina 2: Productos----------------------------------------------------*/
  .productos__titulo {
    width: 80%;
    height: 50px;
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
  }
  .productos__tarjetas {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }
  /* Aca en vista mobile me gustaria que el diseño sea igual a que la primera card 
    but no pude mover las imagenes yo para escritorio las ubique en el mismo html pero aca no las pude mover de lugar*/
  .productos__imagenes {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  /* Pagina 3: Tienda----------------------------------------------------*/
  .tienda {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  .tienda_productos {
    margin: 15px;
    height: 430px;
    font-size: 16px;
  }
  .tienda__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  /* Pagina 4: Nosotros----------------------------------------------------*/
  .empresa__card {
    margin: 0;
  }
  .empresa__titulo {
    font-size: 24px;
  }
  .empresa__texto {
    font-size: 16px;
    padding: 0px;
  }
  .galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6";
  }
  .galeria__imagenes--img1 {
    grid-area: img1;
  }
  .galeria__imagenes--img2 {
    grid-area: img2;
  }
  .galeria__imagenes--img3 {
    grid-area: img3;
  }
  .galeria__imagenes--img4 {
    grid-area: img4;
  }
  .galeria__imagenes--img5 {
    grid-area: img5;
  }
  .galeria__imagenes--img6 {
    grid-area: img6;
  }
  .mayorista h2 {
    font-size: 24px;
  }
  .mayorista p {
    font-size: 16px;
  }
  .mayorista__formulario-1 input {
    width: auto;
  }
  .comentario {
    width: auto;
  }
  /*comprar---------------------------------------*/
  .comprar {
    flex-direction: column;
  }
  .fotoproductos {
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "img1" "img2" "img3" "img4";
  }
  .informacionproducto {
    width: auto;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
  }
  .informacionproducto h1 {
    font-size: 22px;
  }
}
