/*Pagina 6: tienda producto -----------------------------------------------------------------------------------------------------------------------------------*/

.cardcompra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comprar{
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $colorPrincipal;
    text-align: center; 
}

.fotoprod{
    width: 350px;
    height: 350px;
}

.fragancia{
    width: 100%;
    padding: 20px;
    background-color: $colorPrincipal;
    text-align: center;
}