/*Pagina 5: Faq -----------------------------------------------------------------------------------------------------------------------------------*/

.carruselfaq_imagenes{
    width: 100%;
}

.preguntas{ 
    background-color: $colorPrincipal;
    height: auto
}

.accordion{
    margin-top: 30px;
    margin-bottom: 30px;
}

.accordion-item{
    color: black;
}