footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    height: 100px;
    color: black;
}

.redes__lista{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

.redes__iconos{
    height: 25px;
    width: 25px;
}