/*Vista Mobile*/

@media screen and (max-width:599px) {
    .header{
        width: 100%;
        padding: 0;
        height: auto;
        
    }
    
    .logo{
        width: 60px;
        height: 60px;
    }

    .productosdestacados{
        display: flex;
        flex-direction: column;
        align-items: center;

        &__textos{
            width: 100%;
            padding: 15px;
            background-color: $colorPrincipal;
            text-align: center;
            color: white;
        }

        &__textos h2{
            font-size: 18px;
        }

        &__textos p{
            font-size: 14px;
        }
    }

    .colecciones{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        &__elementos{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            padding-bottom: 30px;
            background-color: $colorPrincipal;
        }
    
        &__link1{
            display: inline-block;
            width: 100%;
            height: 200px;
            border-radius: 10px;
            object-fit: cover;
            margin: 0;
        }

        &__link2{
            display: inline-block;
            width: 100%;
            height: 200px;
            border-radius: 10px;
            object-fit: cover;
            margin: 0;
        }
    }

    .info{
        width: 100%;
        height: auto;
    }

    .info__titulo{
        font-size: 16px;
        font-style: italic;
        text-align: center;
        padding: 8px;
    }
    
    .info__tarjetas{
        display: flex;
        flex-direction: column;
    }

    h6{
        font-size: 14px;
        font-style: italic;
        margin-bottom: 5px;
    }

    .info__propiedades{
        background-color: #cfb5b2;
        width:auto;
        height: auto;
        margin: 20px;
        padding: 20px 24px;
        text-align: center;
        font-size: 12px;
    }

    .iframeyt{
        width: 80%;
        height: auto;

    }

    .suscripcion__textos{
        font-size: 16px;

        & h3{
            font-size: 24px;
        }
    }
    
    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 10px;
        height: 100px;
        text-align: center;
    }
    
    /* Pagina 2: Productos----------------------------------------------------*/

    .productos__titulo{
        width: 80%;
        height: 50px;
        font-size: 18px;
        margin-top: 15px;
        text-align: center;
    }

    .productos__tarjetas{
        width: 100%;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
    }

    /* Aca en vista mobile me gustaria que el diseño sea igual a que la primera card 
    but no pude mover las imagenes yo para escritorio las ubique en el mismo html pero aca no las pude mover de lugar*/
    .productos__imagenes{ 
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    /* Pagina 3: Tienda----------------------------------------------------*/

    .tienda{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
    
    .tienda_productos{
        margin:15px;
        height: 430px;
        font-size: 16px;
    }

    .tienda__img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    /* Pagina 4: Nosotros----------------------------------------------------*/

    .empresa__card{
        margin: 0;
    }

    .empresa__titulo{
        font-size: 24px;
    }

    .empresa__texto{
        font-size: 16px;
        padding: 0px
    }

    .galeria{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6";
    }

    .galeria__imagenes--img1{
        grid-area: img1;
    }
    
    .galeria__imagenes--img2{
        grid-area: img2;
    }
    
    .galeria__imagenes--img3{
        grid-area: img3;
    }
    
    .galeria__imagenes--img4{
        grid-area: img4;
    }
    
    .galeria__imagenes--img5{
        grid-area: img5;
    }
    
    .galeria__imagenes--img6{
        grid-area: img6;
    }

    .mayorista{
        
        & h2{
            font-size: 24px;
        }
    
        & p{
            font-size: 16px;
        }
    }

    .mayorista__formulario-1{
        & input{
            width: auto;
        }
    }

    .comentario{
        width: auto;
    }

    /* Pagina 6: tienda x productos----------------------------------------------------*/

    .comprar{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .fragancia{
        width: 100%;
    }

    .fotoprod{
        width: 75%;
        height: auto;
        object-fit: cover;
    }
}