/*Vista Mobile*/

@media screen and (max-width:599px) {
    .header{
        width: 100%;
        padding: 0;
        height: auto;
        
    }
    
    .logo{
        width: 60px;
        height: 60px;
    }

    .promocionproductos h2{
        font-size: 16px;
        text-align: center;
    }

    .promocionproductos p{
        font-size: 10px;
        text-align: center;
        padding: 8px
    }

    .colecciones{
        display: flex;
        flex-direction: column;
    }

    .colecciones__img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .info{
        width: 100%;
        height: auto;
    }

    .info__titulo{
        font-size: 16px;
        font-style: italic;
        text-align: center;
        padding: 8px;
    }
    
    .info__tarjetas{
        display: flex;
        flex-direction: column;
    }

    h6{
        font-size: 14px;
        font-style: italic;
        margin-bottom: 5px;
    }

    .info__propiedades{
        background-color: #cfb5b2;
        margin: 20px;
        padding: 20px 24px;
        text-align: center;
        font-size: 12px;
    }

    .iframeyt{
        width: 80%;
        height: auto;

    }

    .suscripcion{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
        font-size: 16px;
    }
    
    .suscripcion__elementos{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 12px;
    }
    
    .suscripcion__titulo{
        margin-bottom: 20px;
        font-size: 20px;
    }
    
    .suscripcion__imagen{
        width:100%;
        height: auto;
        object-fit: cover;
        margin: auto;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 10px;
        height: 100px;
        text-align: center;
    }

    /* Pagina 2: Productos----------------------------------------------------*/

    .productos__titulo{
        width: 80%;
        height: 50px;
        font-size: 18px;
        margin-top: 15px;
        text-align: center;
    }

    .productos__tarjetas{
        width: 100%;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
    }

    /* Aca en vista mobile me gustaria que el diseño sea igual a que la primera card 
    but no pude mover las imagenes yo para escritorio las ubique en el mismo html pero aca no las pude mover de lugar*/
    .productos__imagenes{ 
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    /* Pagina 3: Tienda----------------------------------------------------*/

    .tienda{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
    
    .tienda_productos{
        margin:15px;
        height: 350px;
    }

    .tienda__img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    /* Pagina 4: Nosotros----------------------------------------------------*/

    .empresa__card{
        margin-top: 6px;
        margin-bottom: 6px;
    }

    .empresa__texto{
        font-size: 12px;
        padding: 0px 10px;
    }

    .empresa__img{
        width: 100%;
    }

    .mayorista{
        margin-top: 6px;
        margin-bottom: 6px;
    }

     /* Pagina 6: tienda x productos----------------------------------------------------*/

    .comprar{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .fragancia{
        width: 75%;
    }

    .fotoprod{
        width: 75%;
        height: auto;
        object-fit: cover;
    }
}