/*Pagina 4: Nosotros -----------------------------------------------------------------------------------------------------------------------------------*/

.empresa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empresa__card{
    width: 100%;
    height: auto;
    margin-top: 15px;
    padding: 20px;
    text-align: center;
    font-style: italic;
    background-color: $colorPrincipal;
}

.empresa__titulo{
    font-size: 32px;
}

.empresa__texto{
    padding-left: 100px;
    padding-right: 100px;
    font-size: 20px;
    text-align: center;
}

.galeria{
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas: 
    "img1 img1 img2" 
    "img3 img4 img4" 
    "img5 img5 img6";
    gap: 10px;
    justify-content: center;
    align-content: center;
}

.galeria__imagenes{
    border-radius: 10px;
    overflow: hidden;
}

.galeria__imagenes--img1{
    grid-area: img1;
}

.galeria__imagenes--img2{
    grid-area: img2;
}

.galeria__imagenes--img3{
    grid-area: img3;
}

.galeria__imagenes--img4{
    grid-area: img4;
}

.galeria__imagenes--img5{
    grid-area: img5;
}

.galeria__imagenes--img6{
    grid-area: img6;
}

.galeria__fotos{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mayorista{
    background-color: $colorPrincipal;

    & h2{
        text-align: center;
        font-size: 32px;
    }

    & p{
        text-align: center;
        font-size: 20px;
    }
}

.mayorista__formulario{
    color: black;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mayorista__formulario-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & input{
        width: 600px;  
    }
}

.comentario{
    height: 200px;
    width: 600px;
    margin-top: 20px;
    border-radius: 5px;
}