/*Pagina 2: Productos -----------------------------------------------------------------------------------------------------------------------------------*/

.carruselprod{
    width: 100%;  
}

.productos{
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.productos__tarjetas{
    width: 100%;
    margin-top: 15px;
    background-color: $colorPrincipal;
    color: $colorTextos;
    display: flex;
    flex-direction: row;
}

.productos__items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    text-align: center;
}

.productos__imagenes{
    width: 35%;
}