/*Pagina 3: Tienda -----------------------------------------------------------------------------------------------------------------------------------*/

.tienda{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.tienda_productos{
    border-radius: 1rem;
    background-color: whitesmoke;
    color: $colorPrincipal;
    border: 3px solid $colorPrincipal;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    margin: 15px;
    padding: 20px;
    transition:  background-color 2s, color 2s;
    &:hover{
        background-color: $colorPrincipal;
        color: white;
    }
}